
body#body_img{
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-image: url("http://localhost/lezQuinielas/imagenes/fondo_registrar.jpg");
}
div.centrar {
	margin: 1px;
    display: flex;
    align-items: center;
    background-image: url("http://localhost/lezQuinielas/imagenes/fondo_registrar.jpg");
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
	margin: 0px;
    
}
div.infoConte{
    -webkit-border-radius: 10px 10px 10px 10px;
 	border-radius: 10px 10px 10px 10px;
 	background:rgba(233, 248, 250, 0.63);
 	width: 90%;
 	max-width: 480px;
 	position: relative;
 	padding: 0px;
 	-webkit-box-shadow: 0 30px 60px 0 rgba(202, 13, 13, 0.3);
 	box-shadow: 0 30px 60px 0 rgba(236, 7, 7, 0.3);
 	text-align: center;
}